<section id="cabecalho">

  <div class="row">

    <div class="col-sm-3">
      <h3 class="mb-0">Todo List</h3>
    </div>

    <div class="col-sm-9 text-end">
      <app-modal-add-tarefa (novaTarefa)="salvarTarefa($event)"></app-modal-add-tarefa>
    </div>
  </div>
  
</section>

<app-card-tarefa 
  [tarefas]="tarefas" 
  (tarefaAlterada)="editartarefa($event)" 
  (exclusaoTarefaConfirmada)="excluirTarefa($event)"
  (tarefaConcluida)="concluirTarefa($event)"
  (selecionarStatus)="buscarPorStatus($event)">
</app-card-tarefa>