<fa-icon [icon]="faTrash" data-bs-toggle="modal" data-bs-target="#modalExcluirTarefa"></fa-icon>

<div class="modal fade mt-5" id="modalExcluirTarefa" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Ecluir Tarefa</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body text-start">
        <p>Deseja mesmo excluir a tarefa: <strong>Estudar Angular</strong>?</p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn botaoModalClaro" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn botaoModalEscuro">Excluir</button>
      </div>

    </div>
  </div>
</div>