<button type="button" class="btn botao" data-bs-toggle="modal" data-bs-target="#modalAdicionarTarefa">
  Adicionar Tarefa
</button>

<div class="modal fade mt-5" id="modalAdicionarTarefa" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Adicionar Tarefa</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">

        <div class="mb-3 text-start">
          <label class="form-label">Titulo</label>
          <input type="text" class="form-control">
        </div>

        <div class="mb-3 text-start">
          <label class="form-label">Descrição</label>
          <textarea class="form-control" rows="3"></textarea>
        </div>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn botaoModalClaro" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn botaoModalEscuro">Salvar</button>
      </div>

    </div>
  </div>
</div>