<div class="row mx-1 mt-4">

  <div class="col-sm-4 cardTarefa rounded">
    
    <div class="row p-2">
      <div class="col-9">
        <h5>Estudar Angular</h5>
      </div>

      <div class="col-3 text-end">
        <span class="me-1 iconEdit">
          <app-modal-edit-tarefa></app-modal-edit-tarefa>
        </span>
        <span class="ms-2 iconTrash">
          <app-modal-delete-tarefa></app-modal-delete-tarefa>
        </span>
      </div>
    </div>

    <div class="row mx-2">
      <p class="descricaoTarefa mb-0">
        Estudar estrutura de projeto em angular, data binding, ciclo de eventos e requisições com a biblioteca Http
      </p>
    </div>

    <div class="row">
      <div class="col-12 text-end">
        <button type="button" class="btn botao py-0">Concluir</button>
      </div>
    </div>

  </div>

</div>