.cardTarefa {
  background-color: #F2F0F0;
  min-height: 145px;
}

.cardTarefa h5 {
  font-size: 22px;
  font-weight: 550;
  letter-spacing: 1px;
}

.concluida {
  background-color: #92E2B2;
}

fa-icon {
  font-size: 20px;
  cursor: pointer;
}

.iconEdit:hover {
  color: #92DEE2;
}

.iconTrash:hover {
  color: #E2A192;
}

.descricaoTarefa {
  color: #61686A;
  width: 400px;
  word-wrap: break-word;
}

.botao {
  background-color: #011526;
  color: #F2F0F0;
}

.botao:hover {
  background-color: #88847F;
}

#selectStatusTarefas {
  background-color: #BFB4B4;
  color: #011526;
  font-size: 18px;
  font-weight: 550;
  letter-spacing: 1px;
}